apisix:
  node_listen: 9080

deployment:
  role: traditional
  role_traditional:
    config_provider: etcd

etcd:
  host:
    - "http://etcd:2379"
  prefix: "/apisix"
  timeout: 30

admin:
  enabled: true
  allow_admin:
    - 0.0.0.0/0
  listen:
    ip: 0.0.0.0
    port: 9180
  admin_key:
    - name: admin
      key: edd1c9f034335f136f87ad84b625c8f1
      role: admin
