apisix:
  node_listen:
    - port: 9080
  enable_admin: true

deployment:
  role: traditional
  role_traditional:
    config_provider: etcd

etcd:
  host:
    - "http://etcd:2379"
  prefix: "/apisix"
  timeout: 30

admin:
  listen:
    - ip: 0.0.0.0
      port: 9180
  allow_admin:
    - 0.0.0.0/0
  admin_key:
    - name: admin
      key: edd1c9f034335f136f87ad84b625c8f1
      role: admin
