apiVersion: apps/v1
kind: Deployment
metadata:
  name: apisix
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apisix
  template:
    metadata:
      labels:
        app: apisix
    spec:
      containers:
      - name: apisix
        image: 10.0.60.124:5000/teamcity-demo:__TAG__
        ports:
          - containerPort: 9080
          - containerPort: 9180
